*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background:url(images/stupa1.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: left;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 30px;
  font-weight: bold;
}

.header a:hover {

  color: red;
}

.header a.active {
  background-color:none;
  color:red;
  position: relative;
  right:800px;
  top: 15px;
}
.header a.active:hover{
    color:blue;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

/* the below are for the search buttom only */
form.search input[type=text] {
    position: relative;
    left:750px;
    height:120%;
    width:15%;
    font-size: 13px;
    border: 1px solid grey;
    background: #f1f1f1;
  }
form.search button {
    position:relative;
    left:750px;
    width:40px;
    height:38px;
    padding: 10px;
    background: rgb(123, 209, 236);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  form.search button:hover {
    background: #0b7dda;
  }
  
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }
  /* search button finish */
  #nav {
    
    list-style: none inside;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  #nav li {
    display:block;
    position: relative;
    float: left;
    background: #4b25e6;
    /* menu background color */
  }
  
  #nav li a {
    display: block;
    padding: 0;
    
    text-decoration: none;
    width: 123px;
    /* this is the width of the menu items */
    line-height: 40px;
    /* this is the hieght of the menu items */
    color: #ffffff;
      /* list item font color */
}

#nav li li a {
  font-size: 80%;
}


/* smaller font size for sub menu items */

#nav li:hover {
  background:#389ef2;
}


/* highlights current hovered list item and the parent list items when hovering over sub menues */

#nav ul {
  position: absolute;
  padding: 0;
  left: 0;
  display: none;
    /* hides sublists */
}

#nav li:hover ul ul {
  display: none;
}


/* hides sub-sublists */

#nav li:hover ul {
  display: block;
}


/* shows sublist on hover */

#nav li li:hover ul {
  display: block;
  /* shows sub-sublist on hover */
  margin-left: 200px;
  /* this should be the same width as the parent list item */
  margin-top: -35px;

  }  /* aligns top of sub menu with top of list item */
  /* dropdown finishes */